<nav>
    <ul>
        <li>
            <a href="/" >Apresentação Plus</a>
        </li>
        <li>
            <a href="/moodleqparser">Form QParser</a>
        </li>
        <li>
            <a href="/tic2des">TIC2DES</a>
        </li>
        <li>
            <a href="/auth/google">{{username }}</a>
        </li>
    </ul>
</nav>