<nav>
    <ul>
        <li>
            <a href="/" >Apresentação Plus</a>
        </li>
        <li>
            <a href="/moodleqparser">Moodle QParser</a>
        </li>
        <li>
            <a href="/tic2des">TIC2DES</a>
        </li>
    </ul>
</nav>