<nav>
    
        <h3 class="align-nav" id="portal-professor">Portal do Professor</h3>
        <%if (typeof photo != 'undefined') {%>
        <ul>
            <li>
                <a href="/apresentacaoplus" >Apresentação Plus</a>
            </li>
            <li>
                <a href="/formqparser">Form QParser</a>
            </li>
            <li>
                <a href="/tic2des">TIC2DES</a>
            </li>
            <li id="user-nav">
                <a href="/profile"> <img id="profile-picture" src="<%-photo-%>"> </a>
            </li>
        </ul>
        <%}else{%>
            <a class="btn align-nav"  id="login" href="api/auth/google">
                Entre com Google            
            </a>
        <%}%>
    
    </ul>
</nav>
<main>