<nav>
    
        <h3 class="align-nav" id="portal-professor">Portal do Professor</h3>
        <%if (typeof photo != 'undefined') {%>
        <ul>
            <li>
                <a href="/apresentacaoplus" >Apresentação Plus</a>
            </li>
            <li>
                <a href="/formqparser">Form QParser</a>
            </li>
            <li>
                <a href="/tic2des">TIC2DES</a>
            </li>
            <li id="user-nav">
                <a href="/profile"> <img id="profile-picture" src="<%-photo-%>"> </a>
            </li>
        </ul>
        <%}else{%>
            <div  class="enter-google btn" >
                <span>
                    <img height="40px" width="40px" src="http://localhost:3000/public/assets/Google.png"></img>
                </span>
                <a id="login" href="api/auth/google">
                    Entre com Google            
                </a>
            </div>
      
        <%}%>
    
    </ul>
</nav>
<main>