<h1>Form QParser</h1>
<form action="" method="post" enctype="multipart/form-data">



<select id="select-course">
    {{#each courses}}
        <option>{{this.name}}</option>
    {{/each}}    
</select>

<p>Arquivo para fazer a avaliação(em GIFT)</p>
<input type="file" name="" id="">
<br>
<input type="submit">

</form>