body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 ;
    font-family: "Inter", sans-serif;
}

hr{
    border: 5px solid black;
    width:50vw;
    margin: 0 auto;
}
main{
    text-align: center;
    flex: 1;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
    cursor: pointer;
    transition: 0.5s;
}

p{
    color: white;
}
input{
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid rgb(95, 164, 95);
}

textarea{
    border: 3px solid rgb(95, 164, 95);
}

select{
    border: 3px solid rgb(95, 164, 95);
}
nav{
    background-color: rgb(20, 122, 20);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li{
    margin-right: 30px;
}

footer{
    bottom: 0;
    background-color: rgb(20, 122, 20);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    color: white;
}


#login{
    float: right;
    margin-right: 30px;
    margin-top: 0;
}

#select-course{
    padding: 10px;
}


 #user-nav{
    margin-left: 65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

#profile-picture{
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    justify-content: flex-end;
    cursor: pointer;

}

#nome_avaliacao{
    padding: 10px;
}

.formqparser{
    background-color: rgb(20, 122, 20);    
    align-items: center;
    border: 5px solid ;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    height: 50%;
    padding: 15px;
    color: white;
}

#col_1_form{
    display: flex;
    flex-direction: column;

}

#col_2_form{
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    margin: 0 auto;
    margin-top: 10vw;
    
}

.profile-img{
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}

.btn{
    font-size: 16px;
    margin-top: 20px;
    border: none;
    background-color: #212121;
    color: white;
    padding: 25px 50px 25px 50px;
    cursor: pointer;
}

.btn:hover{
    background-color:#414141;
}



#username{
    color: black;
}

#portal-professor{
    color: white;
    float: left;
    margin-left: 30px;
}