.btn{
    font-size: 16px;
    margin-top: 20px;
    border: none;
    background-color: #212121;
    color: white;
    padding: 25px 50px 25px 50px;
    cursor: pointer;
}

.btn:hover{
    background-color:#414141;
}